.todoTask{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #fff;
}

.fixBorder{
    border-bottom: 1px solid;
}

.missionDone{
    text-decoration: line-through;
    color: hsl(234, 39%, 85%);
}

.taskList{
    height: 400px;
    overflow-y: scroll;
    overflow-x: none;
}
/* Todo list count */
.todoListCount{
    display: flex;
    justify-content: space-between;
    padding: 2% 1rem;
}

.selectBtn{
    cursor: pointer;
}
    
.selectBtn:hover{
   color: red;
}
    
.selected{
    color: hsl(220, 98%, 61%)!important;
}
/* Desktop version */
.showTodoDesktop{
    display: flex;
}

.showTodoDesktop p+p::before{
    content: "";
    margin-right: 1rem;
}
/* Mobile version */
.showTodoMobile{
    display: none;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px){
    .showTodoDesktop{
        display: none;
    }

    .showTodoMobile{
        display: flex;
        margin-top: 2.2rem;
        margin-bottom: 3rem;
        padding: 1rem 0;
        border-radius: 5px;
    }
}