.dark-mode{
    background-color: hsl(235, 24%, 19%)!important;
    color: #fff;
}

#todoDiv{
    width: 60%;
    position: absolute;
    left: 50%;
    margin-top: -200px;
    transform: translateX(-50%);

}

.todo-input{
    margin: 2rem 0 1rem;
    border-radius: 5px;
}

.todo-check{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.button-check{
    height: 30px;
    width: auto;
    margin: 0 1rem;
}

.todo-check .mission{
    font-size: 1.2rem;
    outline: none;
    border: none;
}

.todo-check input{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    #todoDiv{
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    #todoDiv{
        width: 95%;
    }
}

